body{
    background-color:black;
}
*{
    box-sizing:border-box;
}
li{
    color:white;
    padding:20px;
    font-size:18px;
}
ul{
    list-style: none;
    margin:0;
    padding: 0 25px;
    display:flex;
}
nav{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:light;
    display:flex;
    align-items: center;
    padding:0 40px;
    position:relative;
}
button{
    background-color:white;
    color:black;
    border-radius : 10px;
    font-size:medium;
    padding:7px;
    border-color:white;
    height:40px;
}
button:hover{
    background-color:rgba(245, 236, 236, 0.842);
    border-color:rgb(245, 236 , 236 , 0.842);
}
.left-top{
    display:flex;
    margin-right:auto;
    align-items:center;
}
.right-top{
    display:flex;
    align-items: center;
    gap : 20px;
}
span{
    color:white;
    font-size: 18px;
}
.dropdown{
    top:50px;
    /* place the dropdown 80px below the navbar */
    display : none;
    /* width:100%; */
    position:absolute;
    gap : 20px;
    left:0px;
    width : 100%;
    padding:40px;
}
.nav-1:hover .dropdown{
    display : flex;
    align-items:flex-start;
    justify-content:space-between;
    visibility : visible;

}
.nav-2:hover .dropdown{
    display : flex;
    align-items:flex-start;
    justify-content:space-between;
    visibility : visible;

}
.nav-item{
    transition : opacity 0.4s ease;
}
ul:hover .nav-item:not(:hover){
    opacity : 0.4;
}
.list-1{
    transition : opacity 0.4s ease;
}
.box:hover .list-1 {
    opacity: 0.4;
}
.box .list-1:hover {
    opacity: 1;
}

.list-2{
    transition : opacity 0.4s ease;
}
.box:hover .list-2 {
    opacity: 0.4;
}
.box .list-2:hover {
    opacity: 1;
}

.list-3{
    transition : opacity 0.4s ease;
}
.box:hover .list-3 {
    opacity: 0.4;
}
.box .list-3:hover {
    opacity: 1;
}

.list-4{
    transition : opacity 0.4s ease;
}
.box:hover .list-4 {
    opacity: 0.4;
}
.box .list-4:hover {
    opacity: 1;
}

.list-5{
    transition : opacity 0.4s ease;
}
.box:hover .list-5 {
    opacity: 0.4;
}
.box .list-5:hover {
    opacity: 1;
}

.list-6{
    transition : opacity 0.4s ease;
}
.box:hover .list-6{
    opacity: 0.4;
}
.box .list-6:hover {
    opacity: 1;
}

.card{
    overflow:hidden;
    /* border-radius:20px; */
    cursor: pointer;
}

.whyShopifyPhoto{
    height:300px;
    border-radius:20px;
    display:block;
    width:100%;
    transition: transform 0.3s ease-in-out;
}

.card:hover .whyShopifyPhoto{
    transform: scale(1.1);
}
.arrow{
    /* display : inline; */
    /* it will not rotate necause inline elements are treated as text so properties like width and height and rotation are difficult to apply on them .*/

    /* display:block; */
    /* if we write display : block then it will be in next line below why shopify because block elements have this property of occupying a complete line. */

    display : inline-block;
    /* by writing inline-block we are saying treat it like a box as u do in block and keep it next to text(why Shopify) just like inline element. */

    font-size:14px;
    margin : 4px 0 4px 0;
    transition : transform 0.3s ease;
}
.nav-1:hover .arrow{
    transform : rotateY(180deg);
}
.nav-2:hover .arrow{
    transform : rotateY(180deg);
}
.cards{
    display:flex;
    /* align-items:center; */
    justify-content:flex-start;
    gap:10px;
    border-color: black;
}
img{
    height:40px
}
h4{
    font-weight:500;
    height:0px;
    width:316.53px;
    font-size: 20px;
}
p{
   font-weight:bold;
   color:darkgray; 
   width : 316.53px;
}
.dropdown-video-1{
    width : 250px;;
}
h2{
    color:rgb(8, 105, 50);
    margin: 0 0 20px;
}
video{
    border-radius:10px;
}
.right-section-1{
    padding: 0 0 20px;
}
h3{
    color:#009E60;
    font-size:16px;
    font-weight :500;
}
.box{
    display : flex;
    flex-direction : column;
}
.footer li p {
    color:darkgray;
    font-size : 18px; 
    font-weight : normal;
}
.sections{
    display:flex;
    flex-direction:column;
    width:100%;
}
.upper-section{
    display:flex;
    width:100%;
}
.product-sec-1{
    display:flex;
    width:100%;
}
.product-sec-2{
    display:flex;
    flex-direction:column;
    width:100%;
}
li{
    padding:10px;
}
#item-1{
    display : flex;
    gap : 10px;
    align-items:center;
}
#item-2{
    display : flex;
    gap : 10px;
    align-items:center;
}
#item-3{
    display : flex;
    gap : 10px;
    align-items:center;
}
#item-4{
    display : flex;
    gap : 10px;
    align-items:center;
}
#item-5{
    display : flex;
    gap : 10px;
    align-items:center;
}
#item-6{
    display : flex;
    gap : 10px;
    align-items:center;
}
#item-7{
    display : flex;
    gap : 10px;
    align-items:center;
}
#item-8{
    display : flex;
    gap : 10px;
    align-items:center;
}
#item-9{
    display : flex;
    gap : 10px;
    align-items:center;
}
#item-9{
    display : flex;
    gap : 10px;
    align-items:center;
}
#item-10{
    display : flex;
    gap : 10px;
    align-items:center;
}
#item-11{
    display : flex;
    gap : 10px;
    align-items:center;
}
#item-12{
    display : flex;
    gap : 10px;
    align-items:center;
}
#item-20{
    display : flex;
    gap : 10px;
    align-items:center;
}
#item-21{
    display : flex;
    gap : 10px;
    align-items:center;
}
#item-22{
    display : flex;
    gap : 10px;
    align-items:center;
}
#item-23{
    display : flex;
    gap : 10px;
    align-items:center;
}
#item-24{
    display : flex;
    gap : 10px;
    align-items:center;
}
#item-25{
    display : flex;
    gap : 10px;
    align-items:center;
}
#item-26{
    display : flex;
    gap : 10px;
    align-items:center;
}
#item-27{
    display : flex;
    gap : 10px;
    align-items:center;
}
#item-28{
    display : flex;
    gap : 10px;
    align-items:center;
}
.footer .ul .li{
    width : 112.42px;
}
.footer .ul{
    gap : 40px;
}
.footer h4{
    font-weight:400;
    font-size:16px;
}
.footer h3{
    padding:20px;
}
.box li p {
    font-weight:400;
}
.box h4{
    font-weight : 600;
    font-size : 18px;
}
.box .padding-0{
    padding : 0px;
}
.product-sec-2{
    background:rgba(0 , 255 , 150 , 0.05);
    padding : 20px;
    border-radius : 12px;
}
.card p{
    font-weight : 500;

}
.upper-right-1 p{
    font-weight : 500;
}
.right-section-1{
    background:rgba(0 , 255 , 150 , 0.05);
    padding : 20px;
    border-radius : 12px;
    width : 100%;
}