body{
    background-color:black;
}
*{
    box-sizing:border-box;
}
li{
    color:white;
    padding:20px;
}
ul{
    list-style: none;
    margin:0;
    padding: 0 25px;
    display:flex;
}
nav{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:light;
    display:flex;
    align-items: center;
    padding:0 40px;
    position:relative;
}
img{
    height:40px;
}
button{
    background-color:white;
    color:black;
    border-radius : 10px;
    font-size:medium;
    padding:7px;
    border-color:white;
    height:40px;
}
button:hover{
    background-color:rgb(238, 227, 227);
    border-color:rgb(238, 227, 227);
}
.left-top{
    display:flex;
    margin-right:auto;
    align-items:center;
}
.right-top{
    display:flex;
    align-items: center;
    gap : 20px;
}
span{
    color:white;
}
.dropdown{
    top:100px;
    /* place the dropdown 80px below the navbar */
    display : none;
    /* width:100%; */
    position:absolute;
}
.list-item-1:hover .dropdown{
    display : block;
    visibility : visible;
}
.whyShopifyPhoto{
    height: 300px;
}
.cards{
    display:flex;
    align-items:center;
    gap:10px;
    border-color: black;
    border-radius:20px;
}
h4{
    font-weight:bold;
    font-size: 20px;
}
p{
   font-weight:bold;
   color:darkgray; 
}


